@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', cursive;
}

body {
    background-color: rgb(223, 179, 122);
}

.nav {
    height: 80px;
    width: 100%;
    background-color: #7e2e38;
}

#main {
    width: 45%;
    margin: 0px auto;
    height: 1000px;
    background-color: #e1ddd9;
}

.notice {
    background-color: #b32121;
    border: 1px solid #7e2e38;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    width: 98%;
    margin: 0px auto;
}

.Name-box {
    background-color: #7e2e38;
    text-align: left;
    color: white;
    font-style: italic;
    margin-top: 5px;
    border-radius: 10px 10px 0 0;
}

.Name-box h1 {
    margin-left: 5px;
    padding: 10px;
}

.item {
    background-color: rgb(255, 255, 255);
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.right {
  align-items: center;
  display: flex;
  justify-content: right;
  position: absolute;
  right: 0;
  margin-right: 0;
  line-height: 120px;
}

.item img {
    padding: 10px;
    height: 150px;
    width: 150px;
}

h2 {
    line-height: 150px;
    margin-left: 35px;
    color: #7e2e38;
    font-size: 30px;
}

hr {
    border: 1px solid black;
}

@media only screen and (max-width: 1300px) {
    #main {
      width: 100%;
    }
  }





