@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: antiquewhite;
}

.logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.logo img {
    width: 50%;
    height: 1200px;
}

.main {
    min-width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;

}

.box {
    height: 150px;
    background-color: white;
    margin: 1px;
    transition: all 0.2s ease 0s;
    display: flex;
    flex-basis: 50%;
}

.item {
    padding: 20px;
    line-height: 120px;
    display: inline;
    font-size: 30px;
}

.item img {
    width: 60%;
    float: right;
    line-height: 1000px;
}

.item a {
    display: inline-block;
    color: #7e2e38;
}

@media only screen and (max-width: 750px) {
    .logo img {
        width: 100%;
    }
 }

@media only screen and (max-width: 750px) {
    .logo2 img {
        width: 100%;
    }
 }

 @media only screen and (max-width: 750px) {
    .box {
        flex-basis: 100%;
    }
 }

 @media only screen and (max-width: 750px) {
    .item img{
    width: 35%;
    }
 }



