@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', cursive;
}

body {
    background-color: #e1ddd9;
}

.nav {
    height: 70px;
    width: 100%;
    background-color: #7e2e38;
    color: white;
    padding: 10px;
    justify-content: left;
    display: flex;
}

.nav a {
    margin-left: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: white;
}

.nav p {
    margin-left: 10px;
    font-size: 20px;
}

.nav img {
    height: 25px;
    width: 15px;
}

#main {
    width: 45%;
    margin: 0px auto;
    background-color: white;
    position: relative;
}

.Name-box {
    background-color: #7e2e38;
    text-align: left;
    color: white;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 9px;
}

.Name-box h1 {
    margin-left: 5px;
    padding: 15px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    min-height: 145px;
    padding: 15px;
    padding-top: 0;
    margin-top: 10px;
}

.items {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 60%;
}

.items-back {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    color: #7e2e38;
}

.items-back img {
    width: 100%;
    height: 70%;
    border: 1px solid #7e2e38;
    border-radius: 5px;
}

.items p {
    font-size: 17px;
}

.description {
    flex-basis: 100%;
    margin-top: 5px;
}

.prize p {
    font-size: 17px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    color: #7e2e38;
    font-weight: bold;
    letter-spacing: 1px;
}

.right {
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

.items img {
    height: 125px;
    width: 125px;
}

#p-name {
    font-size: 30px;
}

#name {
    font-size: 20px;
    padding: 15px;
    color: #7e2e38;
    text-align: center;
}

h2 {
    line-height: 150px;
    margin-left: 20px;
    color: #7e2e38;
    font-size: 20px;
}

h3 {
    margin-top: 15px;
    color: #7e2e38;
    font-size: 25px;
}

span {
    color: rgb(17, 126, 199);
    font-size: 18px;
}

hr {
    border: 1px solid #7e2e38;
}

footer {
    width: 100%;
    background-color: #7e2e38;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

footer a {
    color: white;
    font-size: 15px;
    margin-right: 20px;
}

footer img {
    margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
    #main {
      width: 100%;
    }
  }





